.root {
  position: relative;
  width: 100%;
  height: 100%;
}

.viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #292929;

  // Embla любит, когда viewport ловит свайпы
  // можно оставить touch-action по умолчанию
}

.container {
  display: flex;
  height: 100%;
}

.slide {
  flex: 0 0 100%; // 1 слайд на экран
  height: 100%;
  min-width: 0;
  width: calc(100% + 1px);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
  overflow-clip-margin: unset;
}

.placeholder {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }

  svg {
    color: #fff;
    font-size: 11px;
  }
}

.left {
  left: 0px;
}
.right {
  right: 0px;
}

.hoverArrows .arrow {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.hoverArrows:hover .arrow {
  opacity: 1;
  pointer-events: auto;
}

.hoverArrows:hover .progress {
  opacity: 1;
}

.progress {
  width: 100%;
  transition: opacity 0.3s ease;

  opacity: 0;
  left: 0;
  right: 0;
  bottom: 10px;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.progressTrack {
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.18);
  overflow: hidden;
}

.progressThumb {
  height: 100%;
  background: #000;
  border-radius: 10px;
  transition: transform 400ms ease; // ✅ плавно
  will-change: transform;
}

@media (max-width: 1280px) {
  .arrow {
    display: none;
  }
  .progress {
    opacity: 1;
  }
}
