.card {
  overflow: hidden;
  background: #fff;
  cursor: pointer;
}

.imageWrap {
  aspect-ratio: 1 / 1;
  background: rgba(0, 0, 0, 0.03);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  overflow-clip-margin: unset;
}

.imagePlaceholder {
  height: 100%;
  display: grid;
  place-items: center;
  opacity: 0.6;
}

.body {
  padding: 16px 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.title {
  font-size: 14px;
  margin: 0 0 8px;
  font-weight: 400;
}

.price {
  font-weight: 500;
  font-size: 13px;
}
